/* Site specific styling */

/* Helper Classes */
.crunch {
	margin:0 !important;
}
.crunch-top {
	margin-top:0 !important;
}
.crunch-bottom {
	margin-bottom:0 !important;
}
.ruled {
	border-bottom:dotted 1px @gray;
}
.ruled-sm {
	margin-bottom:15px;
}
.well-med {
	padding:15px;
}

/* General */
.header {
	padding-bottom:15px;
	margin-bottom:30px;
	background-color:lighten(@gray-lighter, 4%);
}
.footer {
	background-color:lighten(@gray-lighter, 4%);
	padding:40px 0 20px 0;
	margin-top:40px;
}
.nav {
	list-style-type:none;
	padding:0;
}
.footer .nav {
	float:right;

	a {
		transition: background 0.3s;
		-webkit-transition: background 0.3s;
	}
}
.floated-list li {
	float:left;
}

/* Type */
.h1 {
  margin-top: @line-height-computed;
  margin-bottom: (@line-height-computed / 2);
}

// Colours
.danger, .error {
	background-color:@brand-danger;
	color:@btn-default-color;
}
.warning {
	background-color:@brand-warning;
	color:@btn-default-color;
}
.info, .notice {
	background-color:@brand-info;
	color:@btn-default-color;
}